.estudante-titulo{
    text-align: center;
    }
    text-align: center;
padding: 50px 0;
.estudante-todos {
    display:grid;
    }
    .estudante-todos {
        display:grid;
        grid-template-columns: 20% 20% 20% 20%;
        }]
        <div class=”estudante-todos”>
<span></span>
<div class=”estudante-div”>
grid-template-columns: 20% 20% 20% 20%;
<div class=”estudante-div”>

<img class=”estudante-imagem “src=”./img/Marcelo 1.png” alt=”foto do estudante

Marcelo”>

<h3 class=”estudante-nome”>Marcelo</h3>

<a href=”https://www.instagram.com/”><img class=”estudante-
icone”src=”./img/instagram.png” alt=”Instagram”></a>
<a href=”https://www.instagram.com/” target=”_blank”>
</section>
<footer>
</footer>
</body>
<footer>
<img src=”./img/alurastart logo 1.png” alt=”logo da alura start”>
</footer>
footer{
    background-color: black;
    }
    footer{
        background-color: black;
        padding: 15px 0;
        footer{
            background-color: black;
            padding: 15px 0;
            text-align: center;
            }
